@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');


.App {
    text-align: center;
  }
  
 .main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11%;
 }
  
  